.networkSection {

  background-image: url('../assets/network/webbg2025.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  .networkLogos {
    height: 120px;


    img {
      object-fit: cover;
      height: 100%;
    }

  }
}